extends layout

mixin disclaimer($item)
    .disclaimer
        | !{$item['content']}
        br
        | Link: 
        a(href=$item['url']) !{$item['url']}

block content
    .disclaimer-list
        each $item in $disclaimers
            +disclaimer($item)
    
    h2#rationale Rationale

    p I'm always cautious when expressing views and opinions on social media. Discussions easily derail when words are misinterpreted. Social media lacks all the nuances present in face-to-face conversations.
    
    p Limited to 500 characters (you know what network I'm referring to ^_^)? Tired of writing small disclaimers? It's not always easy to establish the proper context for a civilised discussion.

    p
        | So I built 
        a(href="https://smdl.io") smdl.io
        | , a collection of disclaimer links for use on social media. One short link like 
        a(href="https://smdl.io/b1") smdl.io/b1
        |  is enough to let the other know with what mindset you are writing that comment.
    
    p
        | Does the disclaimer #1 not suit your needs, link to any other! Is your preferred disclaimer not listed? Open an issue on the 
        a(href="https://codeberg.org/yarmo/smdl") open-source repository
        | .

    h2 Why the "b" character in that link?

    p This project is in beta period. If a wider audience finds it useful, together we will write a set of proper disclaimers.

    p However, all links must be immutable well into the future. Even links used during this beta period must be accessible in 10 years with the exact same phrasing. Therefore, all links from this beta period will start with a "b". If this project succeeds, the "b" will be removed but the old "b" links will continue working.