html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{$title}
        link(rel="stylesheet", href="/static/norm.css")
        link(rel="stylesheet", href="/static/style.css")
        link(rel="shortcut icon", href="/favicon.png")
    body
        .container
            header
                h1
                    a(href="https://smdl.io") Social&nbsp;Media Disclaimer&nbsp;Links

            block content

            footer
                p
                    | No JS, tracking or ads on this website.
                    br
                    | All content licensed under 
                    a(href="https://creativecommons.org/licenses/by-nc-sa/4.0/") CC BY-NC-SA 4.0
                    |  unless otherwise stated.
                    br
                    | Open source project hosted on  
                    a(href="https://codeberg.org/yarmo/smdl") Codeberg
                    | .
