/* General layout and typography */
* {
    box-sizing: border-box;
    outline-color: red;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}
.container {
    width: 100%;
    max-width: 720px;
    margin: 32px auto;
    padding: 0 32px;
}
a {
    color: #555;
}
ul {
    padding-left: 1em;
}
ul li {
    list-style: "- ";
}

/* Header */
header {
    margin: 3rem 0;
    color: #aaa;
    text-align: center;
}
h1 {
    font-size: 1.6rem;
}
h1 a {
    color: #aaa;
}
h2 {
    color: #999;
    font-size: 1.6rem;
}

/* Main content */
.disclaimer-list {
    margin: 0 0 128px;
}
.disclaimer {
    margin: 0 0 24px;
    padding: 24px;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 3px;
}
.disclaimer p {
    margin: 0;
}

/* Footer */
footer {
    margin: 5rem 0;
    color: #777;
    text-align: center;
}